@import 'normalize.css';
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;600;700&display=swap');

@font-face {
    font-family: TikTokFont;
    src: url('/assets/fonts/TikTokFont-Bold.woff2');
    font-weight: 700;
}
@font-face {
    font-family: TikTokFont;
    src: url('/assets/fonts/TikTokFont-Semibold.woff2');
    font-weight: 600;
}
@font-face {
    font-family: TikTokFont;
    src: url('/assets/fonts/TikTokFont-Regular.woff2');
    font-weight: 400;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 1.6rem;
    line-height: 1.5;
    text-rendering: optimizeSpeed;
}